body,ul,ol,input,h1,h2,h3,h4,h5,h6,li,p,tr,td{
    margin: 0;
    padding: 0;
    border: 0;
}
ul,ol{
    list-style: none;
}
a,
a:focus,
a:hover,
a:active,
a:visited{
    color: #666;
    text-decoration: none;
}
input{
    outline: none;
}


/* 鍏叡绫诲悕 */
.banxin{
    width: 1190px;
    margin: 0 auto;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}